* {
  margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
}

input {
    display: block;
    border: none;
    font-family: inherit;
}

a {
    color: inherit;

}

img {
    padding: 0;
    margin: 0;
    border: none;
}